
.cover__title {
    font-size: 72px;
    font-style: normal;
    line-height: 76px;
    text-align: center;
    font-weight: 900;
    max-width: 560px;
    margin: 0 0 16px;
    font-family: Inter;
}

@media (max-width : 1279px) {
	.cover__title {
        width: 54%;
        margin-top: 211px;
    }
}

@media (max-width : 1023px) {
	.cover__title {
        width: 70%;
        margin-top: 165px;
    }
}

@media (max-width : 767px) {
	.cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 104px;
        width: 65%;
    }
}

@media (max-width : 374px) {
	.cover__title {
        margin-top: 64px;
        width: 75%;
    }
}