
.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__url-heading {
    display: block;
    margin-top: 50px;
  }
}